html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(51, 51, 51);
    font-family: cursive, monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

* {
    transition: 0.2s;
}

.container {    
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(51, 51, 51);
    border-radius: 35px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    left: 35%;
    top: 10%;
}

input { 
    font-family: cursive, monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    border: 3px rgb(253, 253, 253) solid;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(253, 253, 253);
}

::placeholder {   
    color: rgb(253, 253, 253);
    font-weight: 600;
}


h3 {
    color: rgb(253, 253, 253);
}

.btn {  
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: large;
    font-weight: 600;
    background: linear-gradient(to left, #00E702, #01EC82);
    color: rgb(253, 253, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 90%;

} 

.btn:hover {
    scale: 1.05;
    transition: 0.3s;
    cursor: pointer;
}

.btn:not(:hover) {
    scale: 1;
    transition: 0.3s;
}

.btn:active {   
    background: linear-gradient(to right, #00e47d, #00d304);
    transition: 0.3s;
    scale: 1;
}

.reg {
    position: absolute;
    left: 33%;
    top: 5%;
}

#nickname {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: large;
}

#surname {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: large;
}

#famname {
    position: absolute;
    left: 10%;
    top: 40%;
    font-size: large;
}


#age {
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: large;
    color: rgb(253, 253, 253);
    font-weight: 600;
}

#password {
    position: absolute;
    left: 10%;
    top: 60%;
    font-size: large;
}

#cpassword {
    position: absolute;
    left: 10%;
    top: 70%;
    font-size: large;
}


.message {  
    color: rgb(253, 253, 253);
    position: relative;
    top: 32%;
    justify-content: center;
}

.header {
    height: 50px;
    width: cover;
    background-color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5%;
}